<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ajax Request</title>
		<link rel="stylesheet" href="/index.css">
	</head>
	<body>
        <h1>Ron Swanson Quote Generator</h1>
        <p>(4 ways of writing AJAX requests)</p>
        <section class="container">
          <button id="xhr">XHR</button>
          <button id="fetch">Fetch</button>
          <button id="jquery">jQuery</button>
          <button id="axios">Axios</button>
        </section>
        <p id="quote">Quote Goes Here...</p>
        
        <div>Code:</div>
        <img id="image"></img>

        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous">
        </script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="index.js"></script>
    </body>
</html>